@import "css/vars";

header {
  height: 80px;
  min-height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 80px;
  background-color: $brand-dark;
  color: white;

  .logo {
    font-size: 1rem;
    display: flex;
    align-items: center;

    img {
      width: 40px;
      margin-right: 10px;
    }
  }

  .account {
    display: flex;
    align-items: center;

    .net-marker {
      background-color: $brand-mid;
      color: white;
      padding: 10px;
    }

    .login, .logout {
      cursor: pointer;
    }

    .header-menu {
      position: relative;
      margin-left: 40px;

      svg {
        width: unset !important;
        height: 1.5em;
        cursor: pointer;
      }

      a {
        text-decoration: none;
      }

      .dropdown {
        text-align: left;

        .dropdown-menu {
          width: 100px;
          top: calc(100% + 8px);
          right: -5px;
          background-color: #eee;
          color: $brand-dark;
          border: $brand-dark 1px solid;
          border-radius: 4px;

          .dropdown-item {
            border-color: $brand-dark;
            padding: 12px;
          }
        }
      }
    }
  }
}