@import "css/vars";

.App .top-section.pool-info {

  .top-section-title {
    position: relative;

    .pool-title {
      position: absolute;
      cursor: pointer;
      height: 100%;
      top: 4px;
      right: 10px;
      font-size: .6em;
      display: flex;
      align-items: center;

      .pool-name {
        margin-right: 5px;
      }

      .caret {
        width: 20px;
        text-align: center;
      }

      .pool-select {
        display: none;
        position: absolute;
        top: calc(100% - 4px);
        right: -10px;
        background-color: $brand-dark;

        .item {
          padding: 12px 36px;

          &:not(:last-child) {
            border-bottom: solid 1px white;
          }
        }
      }

      &.menu-visible {
        .pool-select {
          display: block;
        }
      }
    }
  }

  .top-section-content {
    background-image: linear-gradient(to left top, $brand-dark -40px, $brand-mid 60px, $brand-dark) !important;
  }

  .pool-tokens {
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    justify-content: stretch;

    .token-balances {
      flex-grow: 2;
    }

    .token-info {
      display: flex;
      align-items: center;
      margin-bottom: 10px;

      .token-symbol {
        justify-content: flex-start;
        width: 106px;
      }

      .percentage {
        margin-left: 10px;
        font-size: 0.9em;
      }

      &.pool-tvl {
        margin-bottom: 0;
        margin-top: 15px;
        font-size: 1.1em;

        .tvl {
          margin-left: 10px;
          font-weight: bold;
        }
      }
    }

  }

  .sbs {
    .text-small {
      font-size: 0.8em !important;
    }
  }

  .pool-apy {
    font-size: 1.1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 250px;

    .apys {
      padding-top: 12px;

      .num {
        font-size: 1.15em;
      }
    }
  }

  .fees-apy {
    margin-top: 15px;
  }

  .apy {
    align-self: flex-end;

    span {
      font-weight: bold;
    }
  }
}

.apys {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  .text {
    font-size: .7em;
    text-align: left;
  }
}