@import "css/vars";

.App .top-section.pool-info {

  .top-section-content {
    background-image: linear-gradient(to left top, $brand-dark -40px, $brand-mid 60px, $brand-dark) !important;
  }

  .pool-tokens {
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    justify-content: stretch;

    .token-balances {
      flex-grow: 2;
    }

    .token-info {
      display: flex;
      align-items: center;
      margin-bottom: 10px;

      .token-symbol {
        justify-content: flex-start;
        width: 106px;
      }

      .percentage {
        margin-left: 10px;
        font-size: 0.9em;
      }

      &.pool-tvl {
        margin-bottom: 0;

        .tvl {
          margin-left: 10px;
          font-weight: bold;
        }
      }
    }

  }

  .pool-apy {
    font-size: 1.1em;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    min-width: 250px;

    .apys {
      padding-top: 12px;

      .num {
        font-size: 1.25em;
      }
    }
  }

  .apy {
    align-self: flex-end;

    span {
      font-weight: bold;
    }
  }
}

.apys {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  .text {
    font-size: .7em;
    text-align: left;
    padding-left: 5px;
  }
}