@import "css/vars";

.App .top-section.pool-info {

  .top-section-content {
    background-image: linear-gradient(to left top, $brand-dark 0, $brand-mid 100px, $brand-dark) !important;
  }

  .pool-tokens {
    flex-grow: 2;

    .token-info {
      display: flex;
      align-items: center;
      margin-bottom: 10px;

      .token-symbol {
        justify-content: flex-start;
        width: 80px;
      }

      .percentage {
        margin-left: 10px;
        font-size: 0.9em;
      }

      .tvl {
        margin-left: 10px;
        font-weight: bold;
      }

      &:last-child {
        margin-top: 15px;
      }
    }
  }

  .pool-apy {
    font-size: 1.1em;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    //justify-content: center;
    padding-right: 10px;

    .apy {
      margin-bottom: 20px;

      span {
        font-weight: bold;
      }
    }
  }
}