@import "css/vars";

.center-aligned-spaced-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.section.airdrops {
  .airdrop-item {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &:not(:last-child) {
      padding-bottom: 20px;
      margin-bottom: 20px;
      border-bottom: solid 1px white;
    }

    .airdrop-overview {
      width: 52%;
      border: solid 3px $info;
      padding: 10px;
      line-height: 1.4em;
      position: relative;

      .token-symbol {
        justify-content: flex-start;
        font-size: 1.4em;
        margin-bottom: 10px;

        img {
          width: 30px;
        }
      }
    }

    .status-tag {
      background-color: $info;
      padding: 8px 20px;
      position: absolute;
      top: 0;
      right: 0;
    }

    &.complete {
      .airdrop-overview {
        border-color: $error;
      }

      .status-tag {
        background-color: $error;
      }
    }

    &.active {
      .airdrop-overview {
        border-color: $success;
      }

      .status-tag {
        background-color: $success;
      }
    }

    .sbs {
      &:not(:last-child) {
        margin-bottom: 20px;
      }

      &> div:not(:last-child) {
        margin-right: 30px;
        width: 150px;
      }

      &> div:last-child {
        width: 109px;
      }
    }

    .airdrop-stats {
      flex-grow: 2;
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      flex-direction: column;
    }

    .text-small {
      font-size: .8em !important;
      margin-bottom: 2px;
    }

    .num {
      font-size: 1.1em;
    }
  }
}