$brand-dark: #0c123a;
$brand-light: #82bed8;
$brand-mid: #4c859e;
$brand-pink: #ffb9b9;
$brand-gold: #967829;
$error: #dc6868;
//$success: #6aaf6a;
$success: #74a274;
$info: #dcb668;
$gray: #b4b4b4;
$mid-gray: #999;

$content-width: 800px;