@import "css/vars";

* {
  box-sizing: border-box;
}

body, html, #root, .App {
  height: 100%;
}

body {
  background-image: linear-gradient(to bottom right, #568cb7ba 0, aliceblue 600px);
  font-family: monospace;
  font-size: 13px;
}

.App {
  display: flex;
  flex-direction: column;

  .main-scroll {
    overflow-y: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    flex-grow: 2;
  }

  .main {
    width: $content-width;
    margin: 0 auto;
  }

  .section {
    background-color: $brand-dark;
    color: white;
    padding: 40px;
    font-size: 1.2em;
    position: relative;

    .section-header {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      margin-bottom: 40px;

      h3 {
        margin: 0;
      }
    }

    .section-top {
      margin-bottom: 15px;
      padding-bottom: 30px;
    }

    .boost-section {
      display: flex;
      align-items: stretch;
      justify-content: space-between;
      margin-bottom: 30px;

      .boost-info {

        .info:not(:last-child) {
          margin-bottom: 25px;
        }

        svg {
          margin-right: 5px;
        }
      }
    }
  }

  .max-amount {
    text-align: right;
    font-size: 0.9em;
    cursor: pointer;

    span {
      cursor: pointer;
    }
  }

  .top-section {
    color: white;
    width: $content-width;
    margin: 40px auto 0;

    .top-section-title {
      height: 46px;
      font-size: 1.6em;
      display: flex;
      align-items: center;
      justify-content: center;
      border-bottom: solid 1px $gray;
      padding: 0 20px;
      background-color: $brand-dark;
    }

    .top-section-content {
      display: flex;
      align-items: stretch;
      justify-content: flex-start;
      width: 100%;

      height: 150px;
      font-size: 1.15em;
      background-image: linear-gradient(to left top, $brand-mid -150px, $brand-dark 120px, $error 460px);
      padding: 20px 40px;
    }
  }

  .main {
    flex-grow: 2;
    width: $content-width;
    margin: 0 auto;
    position: relative;

    .section {
      margin-top: 40px;

      .title {
        margin-bottom: 10px;
      }

      &:first-child {
        margin-top :0;
      }
    }

    form {
      width: 100%;

      .slippage {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-top: 40px;

        input.input-small {
          margin-right: 5px;
        }
      }

      .input {
        width: 100%;
        margin-bottom: 30px;
        position: relative;

        .label-row {
          display: flex;
          align-items: flex-end;
          justify-content: flex-end;
          margin-bottom: 3px;

          &.with-symbol {
            justify-content: space-between;
          }
        }

        .error {
          position: absolute;
          right: 0;
          top: 100%;
          margin-top: 5px;
          font-size: 0.9em;
          color: $error;
        }

        input {
          width: 100%;
          height: 42px;
          font-size: 1.2rem;
          padding: 0 12px;

          &.input-small {
            height: 26px;
            font-size: 1em;
            width: 50px;
            padding: 0 5px;
          }
        }

        &.with-error {
          input[type=text] {
            border-left: solid 8px $error;
          }
        }

        &.checkbox {
          display: flex;
          align-items: center;
          margin-bottom: 10px;
          position: relative;

          &:last-child {
            margin-bottom: 0;
          }

          input[type=checkbox] {
            width: 20px;
            height: 20px;
            margin-right: 10px;
          }

          &.cbx-inline {
            width: unset;
            margin: 0 0 0 15px;

            input[type=checkbox] {
              margin-right: 3px;
            }
          }
        }

        &.slider {
          display: flex;
          align-items: center;
          padding: 0 5px;
          margin-bottom: 0;

          .rc-slider {
            .rc-slider-rail {
              background-color: $gray;
            }

            .rc-slider-track {
              background-color: $brand-mid;
            }

            .rc-slider-dot {
              border-color: $brand-mid;
            }

            .rc-slider-handle {
              border-color: $brand-mid;
            }

            .rc-slider-mark-text {
              color: $mid-gray;
            }

            .rc-slider-mark-text-active {
              color: white;
            }
          }
        }
      }

      .receive-message {
        color: $success;

        &.warning {
          color: $error;
        }
      }

      .lp-price {
        margin-top: 15px;
      }
    }

    .submit-container {
      margin-top: 30px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      input {
        justify-self: flex-end;
      }

      .exclamation {
        font-size: 1.2em;
        font-weight: bold;
        border: solid 1px $error;
        border-radius: 50%;
        width: 24px;
        height: 24px;
        display: inline-block;
        text-align: center;
        margin-right: 8px;
      }
    }
  }

  .section.stake-and-lock {

    &.boost {
      min-height: 420px;
    }

    h3 {
      margin: 0 0 40px;
      border-bottom: solid 1px white;
      display: inline-block;
      font-size: 1em;
    }

    h4 {
      margin-top: 0;
    }

    .claim-box {
      padding: 0;
    }

    .stake-unstake {
      display: flex;
      justify-content: space-between;
      position: relative;

      form {
        width: 314px;
        display: flex;
        flex-direction: column;
        position: relative;

        input[type=submit] {
          float: right;
        }

        .form-inputs {
          flex-grow: 2;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: flex-end;
        }
      }

      &.with-columns {
        .submit-container {
          margin-top: 30px;
          flex-direction: column;
          align-items: flex-end;

          .receive-message {
            height: 20px;
            font-size: .8em;
            text-align: right;
          }
        }
      }

      &.wide-right {
        form:nth-child(1) {
          width: 276px
        }

        form:nth-child(2) {
          width: 352px
        }
      }

      .form {
        width: 45%;

        form {
          width: 100%;
          margin-top: 30px;
          padding-top: 30px;
          border-top: solid 1px #ccc;

          &:first-child {
            margin-top: 0;
            padding-top: 0;
            border: none;
          }
        }
      }

      .inc-lock-form {
        margin-top: 30px;
      }

      .lock-period {
        margin: 20px 0 0;

        .input-row {
          margin-bottom: 20px;
          display: flex;
          align-items: center;
          justify-content: flex-start;

          .react-datepicker-wrapper {
            margin: 0 10px;
            width: 155px;
          }
        }

        .intervals {
          display: flex;
          align-items: flex-start;
          flex-wrap: wrap;
          justify-content: space-between;
          margin-bottom: -11px;

          .interval {
            background-color: $success;
            color: white;
            padding: 10px 15px;
            margin: 0 0 11px 0;
            cursor: pointer;
            text-align: center;
            width: 106px;

            &.selected {
              border-color: white;
              cursor: default;
            }

            &.disabled {
              background-color: $gray;
              cursor: default;
            }
          }
        }
      }

      form.full-width {
        width: 100% !important;

        .intervals {
          justify-content: flex-start;

          .interval {
            margin: 0 14px 15px 0;
          }
        }
      }
    }

    .unlock-time {
      .weight {
        margin-top: 30px;
        color: $success;
      }
    }
  }

}
