
.token-symbol {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .token-icon {
    width: 20px;
    margin-right: 8px;
  }

  &.TRIPOOL {
    .token-icon {
      width: 18px;
      margin-right: 10px;
    }
  }
}