@import "css/vars";

.App .section.banner {
  font-size: 1.1em;
  text-align: center;
  background-color: $brand-dark;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  a {
    font-size: 1.4em;
    font-weight: bold;
  }

  span {
    cursor: pointer;
    font-size: 1.1em;
    font-weight: bold;
  }

  &.not-logged-in {
    height: 90px;
    background-color: $brand-dark;
    border: solid 5px $error;
  }
}

.bifrost-border {
  height: 90px;
  background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
  padding: 5px;

  .section.banner {
    height: 80px;
  }
}